
* {
  box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
}

.left {
  background-color: darkslategrey;
  padding: 20px;
  float: left;
  width: 30%;
}

.main {
  background-color:darkslategrey;
  padding: 20px;
  float: left;
  width: 40%;
}

.right {
  background-color:darkslategrey;
  padding: 20px;
  float: left;
  width: 30%;
}

#pic {
  float:left;
  width:180px;
  height:180px;
}

h1 {
    text-align: center;
    font-size: 36px;
}

p {
    text-align: center;
    font-size: 24px;
    color: bisque;
}

ul {
    margin-left: 240px;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #pic {
    width:100%;
    height: auto;
  }
  ul {
    margin-left: 5px;
  }
}